# python3 -c "import sys; print(sys.executable)"
# /Users/charmainechia/.local/share/virtualenvs/ajino-analytics-KDDfr4Ty/bin/python3

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
ipykernel = "*"
numpy = "*"
pandas = "*"
openpyxl = "*"
scipy = "*"
scikit-learn = "*"
seaborn = "*"
knockpy = "*"
fastapi = "==0.110"
spacy = "==3.7.5"
autogluon = "==1.1.1"
spyder-kernels = "==2.5.2"
statsmodels = "==0.14.3"

[dev-packages]

[requires]
python_version = "3.9"
