# python3 -c "import sys; print(sys.executable)"
# /Users/charmainechia/.local/share/virtualenvs/ajino-analytics-KDDfr4Ty/bin/python3

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
ipykernel = "*"
numpy = "*"
pandas = "*"
spyder-kernels = "*"
openpyxl = "*"
scipy = "*"
scikit-learn = "*"
seaborn = "*"
knockpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
